.section-ad, .credit-sec{
    margin: 50px 75px 50px 20vw;
    height: 845px;
    display: flex;
}

.section-ad{
    flex-direction: row;
}

.credit-sec{
    flex-direction: column;
}

.left-sec{
    width: 47.5%;
    height: 100%;
    margin: 0 2.5% 0 0;
}

.right-sec{
    width: 47.5%;
    height: 100%;
    margin: 0 0 0 2.5%;
}

.top-sec{
    width: 100%;
    height: 47.5%;
    margin: 0 0 2.5%;
}

.bottom-sec{
    width: 100%;
    height: 47.5%;
    margin: 2.5% 0 0;
}

.title-user{
    width: 100%;
    height: 10%;
    margin: 0 0 2.5%;
    align-content: center;
}

.table-user-title{
    font-size: 40px;
    font-family: "Josefin Sans", sans-serif;
}

.filtro{
    width: 100%;
    height: 10%;
    margin: 0 0 2.5%
}

.table-user{
    width: 100%;
    height: 87.5%;
    overflow-y: hidden;
    scroll-behavior: smooth;
}

.top-table{
    width: 100%;
    height: 47.5%;
    margin: 0 0 2.5% 0;
}

.bottom-table{
    width: 100%;
    height: 47.5%;
    margin: 2.5% 0 0 0;
}

table {
    width: 100%;
    border-collapse: collapse;
    border: 2px solid #161A1D;
    table-layout: fixed;
    font-family: "Josefin Sans", sans-serif;
}

thead {
    position: sticky;
    top: 0;
    z-index: 1;
}

th, td {
    padding: 12px;
    text-align: left;
    width: 20%;
    word-wrap: break-word;
    border: 2px solid #161A1D;
    white-space: nowrap;       /* Impedisce il ritorno a capo */
    overflow: hidden;          /* Nasconde il contenuto in eccesso */
    text-overflow: ellipsis;   /* Mostra i "..." quando il contenuto è troppo lungo */
}

th {
    font-weight: bold;
    color: black;
}

tbody tr:nth-child(even) {
    background-color: #a2aaac;
}

tr:hover {
    background-color: #ba3b2d;
}

