.title-1 {
    color: #660708;
    font-weight: bold;
    font-size: 40px;
    margin: 30px 40px;
}

.sottotitolo-1 {
    color: #7d362e;
    font-size: 30px;
}

.card-input{
    width: 100%;
    background-color: rgba(255, 255, 255, 0.9);;
}

.pezzo-grosso{
    margin: 0 0 0 20vh;
}

.card-part-2{

    background-color: transparent;
    align-content: center;
    color: white;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    gap: 8px

}

.button-salva{
    align-content: center;
    align-items: center;
    width: 100%;
    display: block;
    margin: 0 auto;
    background-color: #660708;
}

.card-title{
    color: #7d362e;
    margin: 0;
    padding: 0;
}
