/* Font */
.nunito-1 {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.stint-ultra-condensed-regular {
    font-family: "Stint Ultra Condensed", serif;
    font-weight: 400;
    font-style: normal;
}

.josefin-sans-1 {
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

/* Palette https://coolors.co/palette/0b090a-161a1d-660708-a4161a-ba181b-e5383b-b1a7a6-d3d3d3-f5f3f4-ffffff*/

/* Stili */
body {
    margin: 0;
    padding: 0;
}

/* Header */
header {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 18vw;
    background-color: #f0f0f0;
    z-index: 1000; /* assicura che resti sopra altri elementi */
}


.title{
    width: 100%;
    height: 15%;
    align-content: center;
    text-align: center;
}

.title h1{
    font-size: 40px;
    color: #161A1D;
    margin: 0;
}

nav ul {
    display: block;
    list-style: none;
    padding: 0;
}

nav ul li {
    margin: 20px 30px;
    border-radius: 15px;
}

nav ul li button {
    color: black;
    width: 100%;
    height: 100%;
    font-size: 18px;
    transition: 0.3s ease, transform 0.3s ease;
}

nav ul li.selected {
    background-color: #660708;
}

nav ul li.selected button {
    background-color: #660708;
    color: white;
}

nav ul li.selected button:hover {
    color: white;
}

.menu-button{
    background-color: transparent;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 15px 30px;
    text-align: left;
    border: none;
    border-radius: 20px;
}

.menu-button:hover{
    background-color: transparent;
    border: none;
    color: black;
}

.menu-section{
    width: 100%;
    height: 50%;
}

.spacing{
    margin-right: 10px;
}

.user-sec{
    width: 100%;
    height: 35%;
    align-content: flex-end;
}

.user-name{
    background-color: #660708;
    width: auto;
    height: 25%;
    margin: 75px 30px;
    border-radius: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.user-image{
    background-color: black;
    width: 20%;
    height: 70%;
    margin: 0 7%;
    border-radius: 50px;
    align-content: center;
    color: white;
    text-align: center;
}

.name{
    color: white;
}

/* Home page sec */
.hero {
    margin: 100px 100px 100px 20vw;
    height: 1000px;
    display: flex;
    flex-direction: row;
}

button {
    background-color: #dc3545;
    color: white;
    padding: 10px 20px;
    margin: 0 20px;
    cursor: pointer;
    font-size: 15px;
    border-radius: 7px;
    border: solid 2px transparent;
    transition: 0.3s ease, transform 0.3s ease;
}

button:hover{
    color: white;
    background-color: #660708;
    border: solid 2px white;
}

/* right side */
.saldo-sec{
    background-color: transparent;
    height: 100%;
    width: 50%;
    justify-items: center;
}

.card-section{
    width: 95%;
    height: 40%;
    border-radius: 25px;
    background-color: #161A1D;
}

.left-side{
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.card-list{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    overflow-x: hidden;
    scroll-behavior: smooth;
    gap: 200px;
}

.card-part{
    width: 100%;
    min-width: 100%;
    height: 100%;
    background-color: transparent;
    align-content: center;
    color: white;
    flex-shrink: 0;
}

.indicators {
    position: relative;
    top: -6%;
    left: 45%;
    display: flex;
    gap: 8px;
}

.indicator {
    width: 10px; /* Larghezza iniziale */
    height: 10px; /* Altezza dell'indicatore */
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px; /* Lati completamente stondati */
    cursor: pointer;
    transition: width 0.3s ease, background-color 0.3s ease;
}

.indicator.active {
    width: 25px; /* Larghezza maggiore per l'indicatore attivo */
    background-color: white; /* Colore uniforme per tutti */
}

.card{
    width: 80%;
    height: 60%;
    margin: auto;
    border-radius: 15px;
    background-image: url("../images/blob-card.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.ex-date{
    width: 100%;
    height: 25%;
    text-align: end;
    align-content: center;
}

.expire{
    font-size: 18px;
    margin: 30px 25px;
}

.number-sec{
    width: 100%;
    height: 35%;
    text-align: end;
    align-content: flex-end;
}

.number{
    font-size: 32px;
    margin: 0 25px;
}

.balance-sec{
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: row;
}

.balance-text{
    width: 50%;
    height: 100%;
}

.caption-bal{
    color: #D3D3D3;
    font-size: 12px;
    margin: 10px 15px 0;
}

.balance{
    font-size: 30px;
    margin: 10px 15px 0;
}

.circuit{
    width: 50%;
    height: 100%;
    text-align: end;
}

.card-title{
    margin-left: 10%;
    font-size: 25px;
}

/* left side*/
.graph-sec{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.saldo-graph{
    width: 100%;
    height: 57.5%;
    background-color: white;
    border-radius: 20px;
    box-shadow: 5px 5px 10px 6px #e3e3e3;
    margin-bottom: 2.5%;
}

.transaction-list{
    width: 100%;
    height: 40%;
    background-color: white;
    border-radius: 20px;
    box-shadow: 5px 5px 10px 6px #e3e3e3;
}

.tran-text{
    margin: 20px 30px;
}

.tran-sec{
    width: 100%;
    height: 65%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.transaction-li{
    height: 100%;
    width: 22.5%;
    border-radius: 20px;
    margin: 0 1.75%;
}

.neg-trans{
    box-shadow: 5px 5px 10px 6px #BA181B;
}

.pos-trans{
    box-shadow: 5px 5px 10px 6px #3ec300;
}
