/* Font */
.nunito-1 {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.stint-ultra-condensed-regular {
    font-family: "Stint Ultra Condensed", serif;
    font-weight: 400;
    font-style: normal;
}

.josefin-sans-1 {
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

h1 {
    font-family: "Josefin Sans", sans-serif;
}

h2{
    font-family: "Josefin Sans", sans-serif;
}

h3{
    font-family: "Josefin Sans", sans-serif;
}

h4{
    font-family: "Josefin Sans", sans-serif;
}

h5{
    font-family: "Josefin Sans", sans-serif;
}

h6{
    font-family: "Josefin Sans", sans-serif;
}

/* Palette https://coolors.co/palette/0b090a-161a1d-660708-a4161a-ba181b-e5383b-b1a7a6-d3d3d3-f5f3f4-ffffff*/

/* Stili */
body {
    margin: 0;
    padding: 0;
}

/* Header */
header {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 18vw;
    background-color: #f0f0f0;
    z-index: 1000; /* assicura che resti sopra altri elementi */
}


.title{
    width: 100%;
    height: 15%;
    align-content: center;
    text-align: center;
}

.title h1{
    font-size: 40px;
    color: #161A1D;
    margin: 0;
}

nav ul {
    display: block;
    list-style: none;
    padding: 0;
}

nav ul li {
    margin: 20px 30px;
    border-radius: 15px;
}

nav ul li button {
    color: black;
    width: 100%;
    height: 100%;
    font-size: 18px;
    transition: 0.3s ease, transform 0.3s ease;
}

nav ul li.selected {
    background-color: #660708;
}

nav ul li.selected button {
    background-color: #660708;
    color: white;
}

nav ul li.selected button:hover {
    color: white;
}

.menu-button{
    background-color: transparent;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 15px 30px;
    text-align: left;
    border: none;
    border-radius: 20px;
}

.menu-button:hover{
    background-color: transparent;
    border: none;
    color: black;
}

.menu-section{
    width: 100%;
    height: 50%;
}

.spacing{
    margin-right: 10px;
}

.user-sec{
    width: 100%;
    height: 35%;
    align-content: flex-end;
}

.user-name{
    background-color: #660708;
    width: auto;
    height: 25%;
    margin: 75px 30px;
    border-radius: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.user-image{
    background-color: black;
    width: 20%;
    height: 70%;
    margin: 0 7%;
    border-radius: 50px;
    align-content: center;
    color: white;
    text-align: center;
}

.name{
    color: white;
}

/* Home page sec */
.hero {
    margin: 50px 100px 50px 20vw;
    height: 750px;
    display: flex;
    flex-direction: row;
}

button {
    background-color: #dc3545;
    color: white;
    padding: 10px 20px;
    margin: 0 20px;
    cursor: pointer;
    font-size: 15px;
    border-radius: 7px;
    border: solid 2px transparent;
    transition: 0.3s ease, transform 0.3s ease;
}

button:hover{
    color: white;
    background-color: #660708;
    border: solid 2px white;
}

/* right side */
.saldo-sec{
    background-color: transparent;
    height: 100%;
    width: 50%;
    justify-items: center;
}

.card-section{
    width: 95%;
    height: 53.3%;
    border-radius: 25px;
    background-color: #161A1D;
    display: flex;
    flex-direction: row;
}

.left-side{
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.card-list{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    overflow-x: hidden;
    scroll-behavior: smooth;
    gap: 200px;
}

.card-part{
    width: 100%;
    min-width: 100%;
    height: 100%;
    background-color: transparent;
    align-content: center;
    color: white;
    flex-shrink: 0;
}

.indicators {
    position: relative;
    top: -6%;
    left: 45%;
    display: flex;
    gap: 8px;
}

.indicator {
    width: 10px; /* Larghezza iniziale */
    height: 10px; /* Altezza dell'indicatore */
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px; /* Lati completamente stondati */
    cursor: pointer;
    transition: width 0.3s ease, background-color 0.3s ease;
}

.indicator.active {
    width: 25px; /* Larghezza maggiore per l'indicatore attivo */
    background-color: white; /* Colore uniforme per tutti */
}

.card{
    width: 80%;
    height: 60%;
    margin: auto;
    border-radius: 15px;
    background-image: url("../images/credit.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.ex-date{
    width: 100%;
    height: 25%;
    text-align: end;
    align-content: center;
}

.expire{
    font-size: 18px;
    margin: 30px 25px;
}

.number-sec{
    width: 100%;
    height: 35%;
    text-align: end;
    align-content: flex-end;
}

.number{
    font-size: 32px;
    margin: 0 25px;
}

.balance-sec{
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: row;
}

.balance-text{
    width: 50%;
    height: 100%;
}

.caption-bal{
    color: #D3D3D3;
    font-size: 12px;
    margin: 10px 15px 0;
}

.balance{
    font-size: 30px;
    margin: 10px 15px 0;
}

.circuit{
    width: 50%;
    height: 100%;
    text-align: end;
}

.circuit-logo-visa{
    width: 115px;
    height: 80px;
    margin-top: 25px;
}

.card-title{
    margin-left: 10%;
    font-size: 25px;
}

.right-side{
    height: 100%;
    width: 30%;
}

.add-card{
    height: 30%;
    width: 100%;
    align-content: flex-end;
}

.card-plus-b{
    width: 70%;
    margin: 21px 0;
    background-color: #660708;
}

.card-plus-b:hover{
    background-color: #7d362e;
}

.transfer{
    width: 56.5%;
    height: 28.5%;
    margin-bottom: 5%;
    margin-left: 7.3%;
    border-radius: 10px;
    background-color: #f0f0f0;
}

.transfer-b{
    width: 100%;
    height: 100%;
    margin: 0;
    border-radius: 10px;
    background-color: #f0f0f0;
    color: black;
    font-size: 18px;
    text-align: center;
}

.transfer-b:hover{
    color: #f0f0f0;
}

.rubrica-b{
    width: 100%;
    height: 100%;
    margin: 0;
    border-radius: 10px;
    background-color: #f0f0f0;
    color: black;
    font-size: 18px;
    text-align: center;
}

.rubrica-b:hover{
    color: #f0f0f0;
}

/*Transaction section */
.transaction-sec{
    width: 100%;
    height: 46.7%;
}

.transaction-header{
    width: 100%;
    height: 10%;
}

.transaction-text{
    font-weight: bold;
    font-size: 25px;
    margin: 30px 40px;
}

.transaction-list{
    width: 100%;
    height: 90%;
    justify-items: center;
    overflow-y: auto;
    scroll-behavior: smooth;
}

.transaction-item{
    background-color: transparent;
    width: 95%;
    height: 20.5%;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    margin: 0 0 1.5% 0;
    flex-shrink: 0;
}

.transaction-icon{
    width: 10%;
    height: 100%;
    align-content: center;
    color: #7d362e;
    border: 2px solid #161A1D;
    border-radius: 20px;
}

.transaction-detail{
    width: 65%;
    height: 100%;
    text-align: start;
}

.transaction-detail-text{
    font-size: 20px;
    margin: 0;
    padding: 10px 0 0 20px;
}

.transaction-date{
    font-size: 13px;
    margin: 0;
    padding: 5px 0 0 20px;
    color: #161A1D;
}

.transaction-value{
    width: 25%;
    height: 100%;
    text-align: end;
    align-content: center;
}

/* left side*/
.graph-sec{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.graph-title{
    width: 100%;
    height: 5%;
}

.title-gr{
    margin: 0 30px;
    font-size: 30px;
}

.graph{
    width: 100%;
    height: 53.3%;
}

.legenda{
    width: 100%;
    height: 13%;
    display: flex;
    flex-direction: row;
}

.legenda-side{
    width: 50%;
    text-align: start;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.legenda-icon{
    width: 20%;
    height: 100%;
    align-content: center;
}

.legenda-text{
    width: 80%;
    height: 100%;
    text-align: start;
}

.balance-leg{
    margin: 15px 0 0;
    font-size: 16px;
    color: #6c757d;
}

.type-legenda{
    margin: 10px 0 0;
    font-size: 30px;
}