.hero-2{
    margin: 100px 100px 0 20vw;
    height: 750px;
}

.trading-top{
    width: 100%;
    height: 10%;
    align-content: center;
}

.my-stock-btn{
    width: 20%;
    margin-left: 80%;
    background-color: #660708;
    color:white;
}

.main {
    width: 100%;
    height: 90%;
    position:relative;
    overflow:hidden;
}

#prev, #next {
    background-color: #660708;
    padding: 0;
    font-weight:200;
    font-size:15px;
    margin: 0 20px;
    width: 100px;
    height: 50%;
}

.button-movement{
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#carousel-container {
    width:100%;
    height:100%;
    display: flex;
    flex-flow:column nowrap;
}
#carousel-content {
    height:100%;
}
#carousel-dots {
    position: absolute;
    bottom:150px;
}
#carousel-content, #carousel-dots {
    width:100%;
    display:flex;
    justify-content:center;
    align-items:center;
}

.card {
    width: 600px;
    height: 350px;
    background-color: white;
    margin: 0 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.8s ease-in;
    opacity: 0;
    border-radius:7px;
    box-shadow: 0px 0px 45px 5px rgba(0,0,0,0.3);
}

.hidden {
    display: none;
}
.left {
    position: absolute;
    transform-origin: center;
    animation: card-out 0.6s cubic-bezier(.8,.2,.1,0.8);
    transform: translateX(-30%) scale(0.85);
    opacity: 1 !important;
    z-index: 0;
}

.selected {
    transform-origin: center;
    animation: card-in 0.6s cubic-bezier(.8,.2,.1,0.8);
    transform: translateX(0%);
    opacity: 1 !important;
    z-index: 1;
}

.right {
    position: absolute;
    transform-origin: center;
    animation: new-card 0.6s cubic-bezier(.8,.2,.1,0.8);
    transform: translateX(22%) scale(0.85);
    opacity: 1 !important;
    z-index: 0;
}

.dot {
    width:10px;
    height:10px;
    background-color:rgb(200,200,200);
    border-radius:50%;
    margin:0 0.5rem;
    cursor:pointer;
}

.active-dot {
    transform: scale(1.2);
    background-color:rgb(120,120,120);
}

@keyframes card-in {
    0% { z-index: 1; }
    50% { transform: translateX(30%); }
    80% { z-index: 20; transform: translateX(0px); }
    100% { transform: translateX(0%); }
}

@keyframes card-out {
    0% { z-index: 20; transform: translateX(0px);}
    50% { transform: translateX(-30%);}
    80% { z-index: 1; }
    100% { transform: translateX(-30%) scale(0.85);}
}

@keyframes new-card {
    from {
        transform: translateX(0%) scale(0.5);
    } to {
          transform: translateX(22%) scale(0.85);
      }
}

.content-btn{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #660708;
}

.button-content{
    width: 100%;
    height: 50%;
    color: black;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.left-part{
    width: 50%;
    height: 100%;
    text-align: start;
    align-content: flex-end;
}

.right-part{
    width: 50%;
    height: 100%;
    text-align: end;
    align-content: flex-end;
}

.excSN{
    font-size: 60px;
    color: white;
}

.exc-sym{
    margin: 0 15px 20px;
    padding: 0;
    font-size: 30px;
}

.name-stock{
    margin: 0 15px 20px;
    padding: 0;
    font-size: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
}

.price-stock{
    margin: 0 15px 20px;
    padding: 0;
    font-size: 45px;
    color: #FFD700;
}

.forming-form{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

/* Tradings Details */
.stock-details-top{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: row;
    background-color: #161A1D;
    border-radius: 20px;
}

.left-stock-side{
    width: 50%;
    height: 100%;
    margin: 10px 0 10px 10px;
    color: white;
}

.right-stock-side{
    width: 50%;
    height: 100%;
    margin: 10px 10px 10px 0;
    color: white;
}

.title-stock, .title-stock-history{
    width: 100%;
    height: 10%;
    font-size: 40px;
}

.title-stock-history{
    font-size: 30px;
}

.stock-details{
    width: 100%;
    height: 90%;
    font-size: 20px;
}

.stock-symbol{

}