<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Funding</title>
    <link rel="stylesheet" th:href="@{/style/style.css}">
    <link rel="stylesheet" href="/static/style/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
<header>
    <div class="title">
        <h1 class="nunito-1">eryxis</h1>
    </div>
    <div class="menu-section">
        <nav>
            <ul>
                <li>
                    <form action="/home">
                        <button class="menu-button">
                            <i class="fa fa-home spacing" aria-hidden="true"></i>
                            Overview
                        </button>
                    </form>
                </li>
                <li>
                    <form action="/trading">
                        <button class="menu-button">
                            <i class="fa fa-line-chart spacing" aria-hidden="true"></i>
                            Tradings
                        </button>
                    </form>
                </li>
                <li class="select">
                    <button class="menu-button">
                        <i class="fa-solid fa-money-check spacing"></i>
                        Funding's
                    </button>
                </li>
                <li>
                    <form action="/setting">
                        <button class="menu-button">
                            <i class="fa fa-sliders spacing" aria-hidden="true"></i>
                            Settings
                        </button>
                    </form>
                </li>
                <li>
                    <form action="/support">
                        <button class="menu-button">
                            <i class="fa fa-comments spacing" aria-hidden="true"></i>
                            Support
                        </button>
                    </form>
                </li>
                <li>
                    <form action="/logout">
                        <button class="menu-button">
                            <i class="fa-solid fa-arrow-right-from-bracket spacing"></i>
                            Log Out
                        </button>
                    </form>
                </li>
            </ul>
        </nav>
    </div>
    <div class="user-sec">
        <div class="user-name">
            <div class="user-image">
                <i class="fa fa-user fa-2x" aria-hidden="true"></i>
            </div>
            <h3 class="name" th:text="${nome + ' ' + cognome}"></h3>
        </div>
    </div>
</header>

<section class="hero">
    <div class="funding-container-1" th:if="${fundingCount > 1}">

    </div>
</section>

</body>
</html>