<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="../static/style/style.css">
</head>
<body>
<header>
    <div class="title">
        <h1 class="nunito-1">eryxis</h1>
    </div>
    <div class="menu-section">
        <nav>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Chi Siamo</a></li>
                <li><a href="#">Servizi</a></li>
                <li><a href="#">Contatti</a></li>
            </ul>
        </nav>
    </div>
    <button class="sing-in-button">Sing In</button>
    <button class="login-button">Login</button>
</header>

<main>
    <section class="hero">
        <div class="saldo-sec">
            <h3 class="text-saldo">Totale saldo contabile</h3>
            <div class="content-saldo">
                <h2 class="saldo stint-ultra-condensed-regular">2000 $</h2>
                <div class="saldo-disp">
                    <h4 class="text-saldo-disp">Saldo disponibile:</h4>
                    <h4 class="text-saldo-disp special">2000 $</h4>
                </div>
            </div>
        </div>
        <div class="graph-sec">
            <div class="saldo-graph">
                <h2>Da mettere il grafo con l'andamento del saldo, ovvero una linea che in base al mese fa vedere di quanto è sceso o salito il saldo</h2>
            </div>
            <div class="transaction-list">
                <h2>Elenco puntato delle transazioni</h2>
            </div>
        </div>
    </section>
</main>

<footer>
    <p>&copy; 2025 Tutti i diritti riservati</p>
</footer>
</body>
</html>
